# Created by .ignore support plugin (hsz.mobi)
.idea/inspectionProfiles/
.idea/leetcode_python.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
venv/
Test
.idea/dataSources.local.xml
.idea/dataSources/
/src/
/机密文件.txt
